                <div class="row background">
                    <div class="col-sm-4 offset-sm-4">
                            <div class="card text-blank border-1 ">
                                    <div class="card-body ">
                                        <div class="card-title text-center " style="color: white" ><h5>Login using your Email</h5></div>
                                        <div class="card-text">
                                            <form [formGroup]="myform" (ngSubmit)="onSubmit(myform)">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Email" [formControl]= "myform.controls['email']">
                                                    <div class="alert alert-danger" *ngIf="myform.controls['email'].touched && (!myform.controls['email'].valid)">Enter a valid email</div>
                                                </div>
                                                <div class="form-group  ">
                                                    <input type="password" placeholder="Password" class="form-control" [formControl]="myform.controls['password']">
                                                    <div class="alert alert-danger" *ngIf="myform.controls['password'].touched && (!myform.controls['password'].valid)">Enter a valid password</div>
                                                </div>
                                                <div class="form-group">
                                                        <button class="btn btn-block btn-primary" [disabled]= "(!myform.valid)">Login</button>
                                                    </div>
                                                    <div class="form-group ">
                                                            <div class="alert alert-success" *ngIf="message.length>0">{{message}}</div>
                                                        </div>
                                                        <div class="form-group ">
                                                                <div class="alert alert-danger" *ngIf="userError">{{userError.message}}</div>
                                                            </div>
                                            </form>
                                            <div class="text-center mt-3">
                                                <button class="btn-link" routerLink="/home">Don't have an account? Create one</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                        
                </div>
                   
    
    
