<div class="row background">
    <div class="col-sm-6 background-left p-5 pb-5">
        
    </div>


    <div class="col-sm-6 background-right p-5 pb-5">
            <div class="row">
                    <div class="offset-sm-2 col-sm-8">
                        <div class="card text-blank border-1">
                            <div class="card-body">
                                <div class="card-title text-center">
                                        <h4 >SignUp for free</h4>
                                </div>
                                <div class="card-text">
                                        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                                            <div class="form-row">
                                                    <div class="form-group col-sm-6 ">
                                                            <input type="text" placeholder="First name" class="form-control" [formControl]="myForm.controls['firstname']">
                                                                </div>
                                                            <div class="form-group col-sm-6 ">
                                                                <input type="text" placeholder="Last name" class="form-control" [formControl]="myForm.controls['lastname']">
                                                            </div>
                                             </div>
                                                            <div class="alert alert-danger  text-center"*ngIf ="(myForm.controls['firstname'].touched && (!myForm.controls['firstname'].valid)) || 
                                                               (myForm.controls['lastname'].touched && (!myForm.controls['lastname'].valid))">Fisrt and Last name cannot be left empty.
                                                            </div>
                                                            
                                                        <div class="form-group">
                                                            <input type="text" placeholder="Enter email address" class="form-control" [formControl]="myForm.controls['email']">
                                                            <div class="alert alert-danger" *ngIf="myForm.controls['email'].touched && (!myForm.controls['email'].valid)">Email is required.</div>
                                                            <small class="form-text text-muted text-center">We'll never share your details.</small>
                                                        
                                                                <input type="password" placeholder="Enter password" class="form-control" [formControl]="myForm.controls['password']">
                                                                <div class="alert alert-danger" *ngIf="myForm.controls['password'].touched && (!myForm.controls['password'].valid)">Password must be greater than 8 characters.</div>
                                                            </div>
                                                            <div class="form-group">
                                                                    <input type="password" placeholder="Confirm password" class="form-control" [formControl]="myForm.controls['cpassword']">
                                                                    <div class="alert alert-danger" *ngIf="myForm.controls['cpassword'].touched && (!myForm.controls['cpassword'].valid)" >Both the password should match</div>
                                                                </div>
                                                                <div class="text-center">
                                                                        <button class="btn btn-block btn-warning" type="submit" [disabled]="myForm.invalid==true">Submit</button>
                                                                </div>
                                                            
                                                                <div class="form-group  col-sm-8 offset-sm-2">
                                                                        <div class="alert alert-success" *ngIf="message.length>0">{{message}}</div>
                                                                    </div>
                                                                    <div class="form-group  col-sm-8 offset-sm-2">
                                                                            <div class="alert alert-danger" *ngIf="userError">{{userError.message}}</div>
                                                                        </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    
            
           
    
</div>
